<div class="row directive-tab">
    <h3>vacation</h3>
    <h4 class="text-right text-capitalize">Today {{index.today}}</h4>
    <hr>
    <div class="col-md-8">
        <div datepicker-row></div>
        <span class="lead" style="margin-left: 5px" ng-if="request.duration">
            <u>Duration: {{request.duration}} d.</u>
        </span>
    </div>
    <div class="col-md-3 pull-right" style="border-left: 1px solid #95a5a6" balance></div>
</div>
