<div>
    <h2 class="text-center text-capitalize" ng-controller="User as usr">Hello, {{usr.user.name}}</h2>
    <h4 class="text-right text-capitalize">Today {{index.today}}</h4>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <span class="text-capitalize lead">
                <strong>
                    <a ui-sref="index.workhours" class="home-link">Current week workhours</a>
                </strong>
            </span>
        </div>
        <div class="col-md-8">
            <uib-progressbar class='progress' max='home.maxHoursWeek' value='home.currentHoursWeek'>
                <span>{{home.currentHoursWeek}}/{{home.maxHoursWeek}}</span>
            </uib-progressbar>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <span class="text-capitalize lead">
                <strong>Current month workhours</strong>
            </span>
        </div>
        <div class="col-md-8">
            <uib-progressbar class='progress' max='home.maxHoursMonth' value='home.currentHoursMonth'>
                <span>{{home.currentHoursMonth}}/{{home.maxHoursMonth}}</span>
            </uib-progressbar>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <span class="text-capitalize lead">
                <strong>Illness</strong>
            </span>
        </div>
        <div class="col-md-8">
            <span class="lead">6 days 4 hours of 7 days</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <span class="text-capitalize lead">
                <strong>Overtime</strong>
            </span>
        </div>
        <div class="col-md-8">
            <span class="lead">8 hours</span>
        </div>
    </div>
    <hr>
</div>
