<header>
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" ui-sref="index.home">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="index.request">requests</a>
                </li>
                <li>
                    <a ui-sref="index.vacation">overtime</a>
                </li>
                <li>
                    <a ui-sref="index.vacation">vacation</a>
                </li>
                <li>
                    <a ui-sref="index.workhours">balance</a>
                </li>
                <li uib-dropdown ng-controller="User as usr">
                    <a uib-dropdown-toggle>{{usr.user.name}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem">
                            <a ui-sref="index.table">workhours</a>
                        </li>
                        <li role="menuitem">
                            <a ui-sref="index.vacation">vacation</a>
                        </li>
                        <li role="menuitem">
                            <a href="#">Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section>
    <div class="container background">
        <div class="wrapper" ui-view></div>
    </div>
</section>
