<div class="login background">
    <form class="form-signin">
        <h2 class="form-signin-heading text-center">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="true" ng-model='user.login' autofocus="true">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="true" ng-model='user.password'>
        <div class="checkbox"></div>
        <button class="btn btn-lg btn-primary btn-block btn-login" type="submit" ng-click='user.submit()'>Sign in</button>
    </form>
</div>
