<h3>New request</h3>
<div class="row">
    <uib-tabset justified="true">
        <uib-tab index="0" heading="Illness">
            <div illness-tab></div>
        </uib-tab>
        <uib-tab index="1" heading="Overtime">
            <div overtime-tab></div>
        </uib-tab>
        <uib-tab index="2" heading="Vacation">
            <div vacation-tab></div>
        </uib-tab>
        <uib-tab index="3" heading="Leave w/o pay">
            <div wopay-tab></div>
        </uib-tab>
    </uib-tabset>
</div>
