<h3>vacation</h3>
<h4 class="text-right text-capitalize">Today {{index.today}}</h4>
<hr>
<div class="col-md-8">
    <div datepicker-row></div>

    <span class="lead" ng-if="request.duration">
        <u>Duration: {{request.duration}} d.</u>
    </span>
</div>
<div class="col-md-4" balance></div>
