<h3 class="text-center">Workhours</h3>
<h4 class="text-right text-capitalize">Today {{index.today}}</h4>

<div class="btn-bar">
    <button id="prevPage" ng-click="tbl.isEnablePrev && tbl.prevPage()" class="btn">< Previous</button>
    <button ng-click="tbl.setCurrent()" class="btn">Current</button>
    <button id="nextPage" ng-click="tbl.isEnableNext && tbl.nextPage()" class="btn">Next ></button>
</div>
<div workhours-table></div>
<button ng-click="tbl.save()" type="button">SAVE</button>
