<div class="row">
    <div class="col-md-6">
        <p class="input-group">
            <label class="datepicker-label">
                From
                <input type="text" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="request.start" is-open="request.startOpened" datepicker-options="request.startOption" ng-required="true" show-button-bar="false"/>
            </label>
            <span class="input-group-btn datepicker">
                <button class="btn btn-default" ng-click="request.openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-md-6">
        <p class="input-group">
            <label class="datepicker-label">
                To
                <input type="text" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="request.end" is-open="request.endOpened" datepicker-options="request.endOption" ng-required="true" show-button-bar="false"/>
            </label>
            <span class="input-group-btn datepicker">
                <button class="btn btn-default" ng-click="request.openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
</div>
