<table class="table table-striped">
    <thead>
        <tr>
            <td>Activity</td>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td class="text-warning">Sat</td>
            <td class="text-warning">Sun</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(activity, workload) in tbl.listTable[tbl.currentPage-1]">
            <td>{{activity}}</td>
            <td ng-repeat="day in workload track by $index"><input type="number" ng-blur="tbl.updateTable()" ng-model="workload[$index]"></td>
        </tr>
    </tbody>
</table>
