body {
    overflow-x: hidden;
    padding-top: 90px;
    background-image: url('../vendor/back.png');
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 700;
}

a {
    color: #ecf0f1;
    cursor: pointer;
}

a:hover {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar-nav li a:focus {
    color: #ecf0f1;
    background: #2c3e50;
}

.open a {
    color: #2c3e50;
}

.caret {
    border-width: 6px;
}

hr {
    border-top-color: #000;
}

.background {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 30px;
    padding-right: 30px;
}

.progress {
    margin-bottom: 0;
    margin-top: 3px;
    height: 25px;
    border: 1px solid #2c3e50;
}

.progress span {
    line-height: 22px;
    font-size: 20px;
    white-space: nowrap;
    color: white;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-brand:hover {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar-brand:focus {
    color: #ecf0f1;
    background: #2c3e50;
}

.navbar {
    padding-right: 30px;
    padding-left: 15px;
    background: #2c3e50;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-nav li .dropdown-menu {
    background-color: #ecf0f1;
    margin-top: -1px;
    right: -1px;
}

.login {
    width: 50%;
    padding-top: 15px;
    margin: 20px auto;
}

.form-signin {
    padding-bottom: 40px;
}

.btn-login {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.table {
    background-color: #e6e9ee;
}

.btn-bar {
    position: relative;
}

.home-link, .home-link:hover {
    color: #2c3e50;
    text-decoration: none;
    background-color: none;
}

.current {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 0;
    left: 46%;
    height: 33px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 14px;
    background-color: #18bc9c;
    border: 1px solid transparent;
    border-radius: 15px;
}

.current:hover {
    background-color: #0f7864;
    color: white;
    text-decoration: none;
}

.table.table-striped thead {
    background-color: #5f6c78;
    color: white;
}

td input {
    border: none;
    background: none;
    width: 80px;
}

.nav-tabs li a {
    color: #2c3e50;
}

.nav-tabs li a:hover, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a{
    background-color: #f9f9f9;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    font-weight: bold;
    border-bottom-color: #f9f9f9;
}

.tab-content {
    height: 100%;
    padding: 10px;
    background-color: #f9f9f9;
}

.directive-tab {
    margin: 0;
}

.datepicker-label {
    width: 294px;
}

.datepicker {
    display: inline-block;
    position: absolute;
    top: 21px;
}

.dropdown-menu {
    left: 4px !important;
    padding: 0;
    border-radius: 0;
    border: none;
}

.dropdown-menu div:focus {
    outline: none;
}

.dropdown-menu .btn.btn-default  {
    outline: none;
    border-radius: 0;
    border-color: white;
    background-color: white;
    color: #2c3e50;
}

.dropdown-menu .btn-default:active,
.dropdown-menu .btn-default.active {
    box-shadow: none;
    background-color: #798d8f;
    border-color: #74898a;
}

.dropdown-menu tbody tr td:first-child {
    border-right: 1px solid black;
}

.dropdown-menu thead tr th {
    border-bottom: 1px solid black;
}

.dropdown-menu .btn-default.active span {
    color: #ffffff;
}
